/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining module-specific publishDir and ext.args
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'FASTQC' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            pattern: '*.{html,zip}'
        ]
    }

    withName: 'STAR_ALIGN' {
        ext.args   = [
            '--outSAMtype BAM SortedByCoordinate',
            '--outSAMunmapped Within',
            '--outSAMattributes Standard',
            '--readFilesCommand zcat'
        ].join(' ')
        publishDir = [
            [
                path: { "${params.outdir}/star" },
                mode: 'copy',
                pattern: '*.bam'
            ],
            [
                path: { "${params.outdir}/star/log" },
                mode: 'copy',
                pattern: '*Log.final.out'
            ]
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: 'copy',
            pattern: '*.bai'
        ]
    }

    withName: 'FEATURECOUNTS' {
        ext.args   = '-p -t exon -g gene_id'
        publishDir = [
            path: { "${params.outdir}/counts" },
            mode: 'copy',
            pattern: '*.{txt,summary}'
        ]
    }
}
